---
import BaseLayout from '../../layouts/BaseLayout.astro'
import { getLangFromUrl, useTranslations } from '../../i18n/utils'
import { author, siteTitle } from '../../constants'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const subtitle = t('nav.about') + ' me'
const pageTitle = siteTitle + ' - ' + subtitle
const identity = {
  name: author.name,
  country: 'Spain',
  occupation: 'Software Developer'
}
const skills = ['CSS', 'Docker', 'Git', 'HTML', 'JavaScript', 'Laravel', 'MySQL', 'PHP', 'React', 'Tailwind CSS', 'TypeScript', 'Vue']
---
<BaseLayout pageTitle={pageTitle}>
  <h1>{subtitle}</h1>
  <p>I am {identity.name}. I live in {identity.country} and I work as a {identity.occupation}.</p>
  <p>I am a team player who likes to work in agile teams. Test coverage is a must. I like to call the things by its technical name when talking about code, preferring assertive communication. Code quality, maintenance and bug fixing is a whole team responsibility for me.</p>
  {!!skills.length &&
    <p>My technical skills include:</p>
    <ul>{skills.map(skill => <li>{skill}</li>)}</ul>
  }
</BaseLayout>

<style is:global>
  main {
    align-self: center;
    max-width: 760px;
		width: calc(100% - 2rem);
  }
</style>