---
import Icon from './Icon.astro'

const size = '2rem'
const { platform, url } = Astro.props
---
<a href={url} title={platform}>
  <Icon name={platform.toLowerCase()} size={size} />
</a>

<style define:vars={{size}}>
  a {
    color: inherit;
    display: inline-block;
    height: var(--size);
    width: var(--size);
  }
  a:hover {
    color: #b77a00;
  }
</style>