---
import BaseLayout from '../../layouts/BaseLayout.astro'
import { getLangFromUrl, useTranslations } from '../../i18n/utils'
import { author, siteTitle } from '../../constants'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const subtitle = t('nav.about') + ' de mí'
const pageTitle = siteTitle + ' - ' + subtitle
const identity = {
  name: author.name,
  country: 'España',
  hobbies: ['leer novelas de ciencia ficción', 'senderismo', 'natación', 'juegos de mesa'],
  occupation: 'desarrollador de software'
}
const skills = [
  "HTML", "CSS", "JavaScript", "TypeScript", "React", "Vue", "PHP", "Laravel", "Tailwind CSS", "Git"
]
---
<BaseLayout pageTitle={pageTitle}>
  <h1>{subtitle}</h1>
  <p>Soy {identity.name}. Vivo en {identity.country} y trabajo como {identity.occupation}.</p>
  <p>Algunas de mis aficiones son {new Intl.ListFormat('es-ES', { style: 'long', type: 'conjunction' }).format(identity.hobbies)}.</p>
  {!!skills.length &&
    <p>Mis habilidades técnicas incluyen:</p>
    <ul>{skills.map(skill => <li>{skill}</li>)}</ul>
  }
</BaseLayout>

<style is:global>
  main {
    align-self: center;
    max-width: 1248px;
		width: calc(100% - 2rem);
  }
</style>