---
import BaseLayout from './BaseLayout.astro'
import TagList from '../components/TagList.astro'
import { getLangFromUrl, useTranslations } from '../i18n/utils'
import { author, siteTitle } from '../constants'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const { frontmatter } = Astro.props
const subtitle = frontmatter.title
const pageTitle = siteTitle +  ' - ' + subtitle
---
<BaseLayout pageTitle={pageTitle}>
  <article>
    <h1>{frontmatter.title}</h1>
    <hr>
    <slot />
    <section>
      <div>
        {frontmatter.pubDate.toISOString().split('T')[0]}
        <br>
        <small>{t('written_by')}&nbsp;{author.fullName}.</small>
      </div>
    </section>
    <div>
    {!!frontmatter.tags.length &&
      <strong>{t('nav.tags')}</strong>
      <TagList tags={frontmatter.tags.sort()} />
    }
    </div>
    {(frontmatter.previous || frontmatter.next) &&
    <div>
      <strong>{t('continue_reading')}</strong>
      <ul>
        {frontmatter.previous &&
        <li>
          <a href={`/${lang}/blog/${frontmatter.previous}`}>&lsaquo; {t('previous_post')}</a>
        </li>
        }
        {frontmatter.next && 
        <li>
          <a href={`/${lang}/blog/${frontmatter.next}`}>{t('next_post')} &rsaquo;</a>
        </li>
        }
      </ul>
    </div>
    }
  </article>
</BaseLayout>

<style is:global>
  main {
    align-self: center;
    max-width: 1248px;
		width: calc(100% - 2rem);
  }
</style>

<style is:global>
  article {
    margin-bottom: 2rem;
  }

  article h1 {
    font-family: 'PlayfairDisplayItalic';
  }

  article h2,
  article h3,
  article h4,
  article h5,
  article h6 {
    margin: 2rem 0 1rem 0;
  }

  article h1 + hr {
    background-color: var(--highlight-color);
    border: 0;
    height: 0.3rem;
    margin: 0 0 1.5rem 0;
    padding: 0;
    width: 150px;
  }

  article img {
    display: block;
    margin: 2rem auto;
    max-width: 100%;
  }

  article figure img {
    margin-bottom: 1rem;
  }

  article figure figcaption {
    margin: 0 auto 2rem auto;
    width: fit-content;
  }

  section {
    margin: 3rem 0;
  }

  section div {
    text-align: right;
  }

  section + div {
    margin-bottom: 1.5rem;
  }

  div ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
  }
  
  div ul a {
    text-decoration: none;
  }
</style>