---
import BaseLayout from '../../../layouts/BaseLayout.astro'
import BlogPost from '../../../components/BlogPost.astro'
import { translatePosts } from '../../../scripts/posts.js'
import { getLangFromUrl, useTranslations } from '../../../i18n/utils'
import { siteTitle } from '../../../constants'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const subtitle = t('nav.blog')
const pageTitle = siteTitle + ' - ' + subtitle

export const getStaticPaths = async ({ paginate }) => {
  const lang = 'en'
  const posts = await translatePosts(lang)
  return paginate(posts, {
    params: { lang },
    pageSize: 12,
  })
}

const { page } = Astro.props;
---
<BaseLayout pageTitle={pageTitle}>
	<h1>{subtitle}</h1>
	<p>This is where I post about software development topics.</p>
	<ul>
		{ page.data.map(post => <BlogPost
      date={post.data.pubDate}
      minRead={post.data.minRead}
      title={post.data.title}
      url={`/${lang}/blog/${post.slug.slice(3)}`}
      heading={2}
      size={'heading-5'}
    />) }
	</ul>
  <ul>
    {page.url.prev && 
    <li>
      <a href={page.url.prev}>&lsaquo; {t('previous_page')}</a>
    </li>
    }
    {page.url.next && 
    <li>
      <a href={page.url.next}>{t('next_page')} &rsaquo;</a> 
    </li>
    }
  </ul>
</BaseLayout>

<style is:global>
  main {
    align-self: center;
    max-width: 1248px;
		width: calc(100% - 2rem);
  }
</style>

<style>
	ul {
		display: grid;
		gap: 1rem;
		grid-template-columns: 100%;
		grid-template-rows: auto;
		list-style-type: none;
		margin-top: 2rem;
		padding: 0;
	}

  ul + ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    margin-top: 1.25rem;
    padding: 0;
  }

  ul + ul a {
    text-decoration: none;
  }

	@media screen and (min-width: 636px) {
		ul {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media screen and (min-width: 1248px) {
		ul {
			grid-template-columns: repeat(3, 1fr);
		}
	}
</style>